@model List<ProductViewModel>;
@{
    ViewData["Title"] = "Woodworking Shop: Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Woodworking Shop</h1>
    <p>Hone your craft.</p>

    <div class="container my-5">
        <div class="row">
            @foreach (ProductViewModel product in Model)
            {
                <div class="col-sm-4 flex-wrap">
                    <h2>@product.Name</h2>
                    <p>@product.Description</p>
                    <p>$@product.Price</p>
                    <form asp-controller="Cart" asp-action="AddProduct" method="post">
                        <input type="hidden" name="ProductId" value="@(product.Id)" />
                        <input type="number" name="ProductQuantity" value="1" />
                        <button>Add to Cart</button>
                    </form>
                </div>
            }
        </div>
    </div>


</div>
