@model List<ProductViewModel>;
@{
    ViewData["Title"] = "Woodwoorking Shope: Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Woodworking Shop</h1>
    <p>Hone your craft.</p>

    @foreach (ProductViewModel product in Model)
    {
        <div>
            <h1>@product.Name</h1>
            <p>@product.Description</p>
            <p>@product.Price</p>
        </div>
    }

</div>
