@model CartViewModel

@{
    ViewData["Title"] = "Woodworking Shop: Cart";
}

<div>
    <h1>Shopping Cart</h1>


    @foreach (CartItemSetViewModel itemSet in Model.ItemSets)
    {
        <div class="my-3">
            <span class="mr-3">@itemSet.ProductName</span>
            <form asp-controller="Cart" asp-action="SetProduct" method="post">
                <input type="number" value="@(itemSet.Quantity)" />
                <button>Apply Change</button>
            </form>
        </div>
    }

</div>

