@model CartViewModel

@{
    ViewData["Title"] = "Woodworking Shop: Cart";
}

<div>
    <h1>Shopping Cart</h1>


    @foreach (CartItemSetViewModel itemSet in Model.ItemSets)
    {
        <div class="my-3">
            <span class="mr-3">@itemSet.ProductName</span>
            <form asp-controller="Cart" asp-action="SetProduct" method="post">
                <input type="hidden" name="ProductId" value="@(itemSet.ProductId)" />
                <input type="number" name="ProductQuantity" value="@(itemSet.Quantity)" />
                <div>
                    <span>Categories: </span>
                    @foreach (string categoryName in itemSet.Categories)
                    {
                        <span>@categoryName</span>
                    }
                </div>
                <button>Apply Change</button>
            </form>
        </div>
    }

</div>

